body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#map {
    height: 400px;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.cont {
    background-color: #f1f1f1;
    padding: 10px;
    font-weight: bold;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.statscont, .container {
    flex: 1;
    margin: 10px;
}

.statscont {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container input {
    margin-bottom: 10px;
    padding: 5px;
    width: 205px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.container button {
    padding: 8px 16px;
    background-color: #efa232;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.container button:hover {
    background-color: #f89405;
}

#newpage {
    display: inline-block;
    padding: 10px 20px;
    background-color: #efefef;
    color: #333;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

#newpage:hover {
    background-color: #ccc;
}